@page
@model Sablou_Web.Pages.BrugerLogin.AccessDeniedModel
@{
}
<header>
    Du kan ikke tilgå denne side
</header>

<body>
    <div>
        For at tilgå denne side skal du være logget ind med en administrator konto
    </div>
</body>

