@page
@model Sablou_Web.Pages.Brugere.BrugerlisteModel
@{
}

<h2>Brugerliste</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Rolle</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var b in Model.Brugere)
    {
        <tr>
            <td>@b.Navn</td>
            <td>@b.Email</td>
            <td>@(b.Telefonnummer?.ToString() ?? "")</td>
            <td>@b.Rolle</td>
        </tr>
    }
    </tbody>
</table>
